@import '../css/fonts.css';
@import './bootstrap/bootstrap.scss';
@import './timeline.scss';
// @import './bootstrap/style.scss';
@import './poles/custom-components';
@import '../../node_modules/vue-sonner/lib/index.css';

.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px; /* Equal width */
    height: 18px; /* Equal height */
    border-radius: 50%;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-item {
    border-radius: $border-radius !important;
}

.form-control {
    border: none;
    background-color: $gray-200;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    background-color: $gray-300;
}
